/* 
  main css file
*/
input[type='submit']{
      background: black; color:white; height: 40px;
    }
.err_box{
width: 70%;
margin: auto;
text-align: center;
padding: 5px;
border: 1px solid grey;
color: red;
font-size: 1.1em;
}
#reg_form{
  margin-top: 5%;
}
#login_form{
  margin-top: 10%;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  body{
          background: skyblue;
    }
    .logo{
          width:550px; height: 64px; border: 1px solid grey; border-bottom: none;
    }
    .reg_form{
          border: 1px solid grey; margin-top: -20px; width: 550px; margin-left: auto; margin-right: auto; text-align: center;
    }
    input, select{
      width: 530px; height: 30px; font-size: 1.3em; color: grey;
    }
    
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  body{
          background: lightblue;
    }
    .logo{
          width:550px; height: 62px; border: 1px solid grey; border-bottom: none;
    }
    .reg_form{
          border: 1px solid grey; margin-top: -20px; width: 550px; margin-left: auto; margin-right: auto; text-align: center;
    }
    select, input{
      width: 530px; height: 30px; font-size: 1.2em; color: grey;
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  body {
        background-color: skyblue;
    }
    .logo{
        width:500px; height: 56px; border: 1px solid grey; border-bottom: none;
    }
    .reg_form{
        border: 1px solid grey; margin-top: -20px; width: 500px; margin-left: auto; margin-right: auto; text-align: center;
    }
    input, select{
        width: 470px; height: 30px; font-size: 1.1em; color: grey;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  body{
          background: lightblue;
    }
    .logo{
          width:550px; height: 56px; border: 1px solid grey; border-bottom: none;
    }
    .reg_form{
          border: 1px solid grey; margin-top: -20px; width: 550px; margin-left: auto; margin-right: auto; text-align: center;
    }
    select, input{
      width: 530px; height: 30px;  font-size: 1.1em; color: grey;
    }
    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  body {
              background-color: skyblue;
        }
        .logo{
            width:450px; height: 50px; border: 1px solid grey; border-bottom: none;
        }
        .reg_form{
  border: 1px solid grey; margin-top: -20px; width: 450px; margin-left: auto; margin-right: auto; text-align: center;
}
      input, select{
      width: 420px; height: 30px; font-size: 1em; color: grey;
      }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  body {
              background-color: lightblue;
        }
        .logo{
            width:350px; height: 40px; border: 1px solid grey; border-bottom: none;
        }
        .reg_form{
  border: 1px solid grey; margin-top: -20px; width: 350px; margin-left: auto; margin-right: auto; text-align: center;
}
      input, select{
      width: 320px; height: 30px;  font-size: .9em; color: grey;
      }
  
}